/* body {
display: flex;
justify-content: center;
} */
body{
    background:linear-gradient(-120deg, #e50914, #221f1f, #f5f5f1);
}
h1{
    text-align: center;
    font-family: 'Chango', cursive;
}
#btn{
    
background-color: #e50914;
border: none;
color: white;
padding: 9px 80px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
margin-left: 520px;
border: 1px black solid;
border-radius: 10px ;
}
.box {
background: rgb(20, 14, 14);
border: 1px solid #555;
opacity: 0.8;
color: rgb(252, 246, 246);
text-align: center;
}

#resultContain{
color: white;
display: grid;
grid-template-rows: 250px 250px 250px;
grid-template-columns: 200px 200px 200px;
justify-content: center;
gap: 10px;
    
}

#divText{   
display: flex;
align-items: center;
justify-content: center; 
  
}
#loading{

    
}